@import 'mixins';
@import 'fonts';
@import 'vendor';
@import 'vars';
@import 'settings';

body {
  background: url('../img/logo-dune.png');
  background: red;
  @include desktop {
    background: blue;
  }
}

#div {
  transform: rotate(30deg);
  @include mobile {
    transform: rotate(50deg);
  }
}
