@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  background: url("../img/logo-dune.png");
  background: red;
}

@media (min-width: 375px) {
  body {
    background: blue;
  }
}

#div {
  transform: rotate(30deg);
}

@media (min-width: 375px) {
  #div {
    transform: rotate(50deg);
  }
}
